<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="knockout.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Knockout with Runtime example</title>
    <style>
    th{
        text-align: left;
        width: 50%;
    }
    </style>
</head>

<body style="margin: 20px">
    <div id="fetchDynamicData">
        <button class="btn btn-primary btnWidth" data-bind="click:getCustomers"> Get User Details</button>

        <!-- ensure that the componentis binded only when data comes true -->
        <div data-bind="if:displayComponent">
            <br><br>
            <customer-component params="customerArray:customerList"></customer-component>
        </div>
    </div>

    <!-- template for customer-component -->
    <template id="tableTemplate">
        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: customerList">
                <tr>
                    <td data-bind="text: username"></td>
                    <td data-bind="text: email"></td>
                </tr>
            </tbody>
        </table>
    </template>

    <script>

        function customerViewModel() {
            var self = this;

            self.customerList = ko.observableArray();
            self.displayComponent = ko.observable();

            self.getCustomers = function () {
                $.ajax({
                    type: 'GET',
                    url: 'https://jsonplaceholder.typicode.com/users',
                    contentType: "application/json",
                    success: function (data) {
                        var observableData = data;

                        self.customerList(observableData);
                        self.displayComponent(true);
                    },
                    error: function (jq, st, error) {
                        self.displayComponent(false);
                    }
                });
            };
        }


        ko.applyBindings(new customerViewModel(), document.getElementById('fetchDynamicData'));

        function UserComponentViewModel(params) {
            console.log(params);
            this.customerList = params.customerArray;
        }
        ko.components.register('customer-component', {
            viewModel: UserComponentViewModel, // not instantiating, while runtime automatically an instance is created
            template: { element: 'tableTemplate' }
        })


    </script>
</body>

</html>