<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "knockout.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Native Template Binding</title>
</head>
<body style="margin: 20px">

    
    <div id="namedTemplate" class="marginBottom">
            <h5>Basic Named Template</h5>
            Here are the participants:
            <br><br>
            <div data-bind="template: { name: 'person-template', data: buyer }"></div>
            <div data-bind="template: { name: 'person-template', data: seller }"></div>
    </div>
    <script type="text/html" id="person-template">
        <h6 data-bind="text: name"></h6>
        <p>Credits: <span data-bind="text: credits"></span></p>
    </script>
     
    <script type="text/javascript">
         function MyViewModel() {
             this.buyer = { name: 'Franklin', credits: 250 };
             this.seller = { name: 'Mario', credits: 5800 };
         }
         ko.applyBindings(new MyViewModel(), document.getElementById('namedTemplate'));z
    </script>

    
 <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <div id="forEachTemplate" class="marginBottom"> 
        <h5>ForEach Option with Named Templates</h5>
        Here are the participants:
        <br><br>
        <div data-bind="template: { name: 'person-template', foreach: people }"></div>
    </div>

    <script type="text/html" id="person-template">
        <h6 data-bind="text: name"></h6>
        <p>Credits: <span data-bind="text: credits"></span></p>
    </script>
     
    <script>
     function MyViewModel1() {
         this.people = [
             { name: 'Franklin', credits: 250 },
             { name: 'Mario', credits: 5800 }
         ]
     }
     ko.applyBindings(new MyViewModel1(), document.getElementById('forEachTemplate'));
     </script>

     <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->
     
     <div id="alias" class="marginBottom">
     <h5>Using As to be given as alias</h5>
     <ul data-bind="template: { name: 'seasonTemplate', foreach: seasons, as: 'season' }"></ul>
     </div>
 
        <script type="text/html" id="seasonTemplate">
            <li>
                <strong data-bind="text: name"></strong>
                <ul data-bind="template: { name: 'monthTemplate', foreach: months, as: 'month' }"></ul>
            </li>
        </script>
        
        <script type="text/html" id="monthTemplate">
            <li>
                <span data-bind="text: month"></span>
                is in
                <span data-bind="text: season.name"></span>
            </li>
        </script>
        
        <script>
            var viewModel3 = {
                seasons: ko.observableArray([
                    { name: 'Spring', months: [ 'March', 'April', 'May' ] },
                    { name: 'Summer', months: [ 'June', 'July', 'August' ] },
                    { name: 'Autumn', months: [ 'September', 'October', 'November' ] },
                    { name: 'Winter', months: [ 'December', 'January', 'February' ] }
                ])
            };
            ko.applyBindings(viewModel3, document.getElementById('alias'));
        </script>
    
</body>
</html>