<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="knockout.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Option Binding</title>
</head>

<body>

    <div id="dropdownList" class="marginBottom">
        <h5>DropDown List</h5>
        <p>
            Destination country:
            <select data-bind="options: availableCountries"></select>
        </p>
    </div>

    <script type="text/javascript">
        var viewModel = {
            // These are the initial options
            availableCountries: ko.observableArray(['France', 'Germany', 'Spain'])
        };

        // ... then later ...
        //viewModel.availableCountries.push('China'); // Adds another option

        // for multi select use multiple="true" in select tag//

        ko.applyBindings(viewModel, document.getElementById('deopdownList'));
    </script>
    <br>


    <div id="jsObjectsArray" class="marginBottom">

        <h5>Dropdown with js objects not strings</h5>
        <p>
            Your country:
            <select data-bind="options: availableCountries,
                               optionsText: 'countryName',
                               value: selectedCountry,
                               optionsCaption: 'Choose...'"></select>
        </p>

        <div data-bind="visible: selectedCountry">
            <!-- Appears when you select something -->
            You have chosen a country with population
            <span data-bind="text: selectedCountry() ? selectedCountry().countryPopulation : 'unknown'"></span>.
        </div>
    </div>

    <script type="text/javascript">
        // Constructor for an object with two properties
        var Country = function (name, population) {
            this.countryName = name;
            this.countryPopulation = population;
        };

        var viewModel2 = {
            availableCountries: ko.observableArray([
                new Country("UK", 65000000),
                new Country("USA", 320000000),
                new Country("Sweden", 29000000)
            ]),
            selectedCountry: ko.observable() // Nothing selected by default
        };

        ko.applyBindings(viewModel2, document.getElementById('jsObjectsArray'));
    </script>



    <div id="jsSelectedObjectsArray" class="marginBottom">
        <h5>selectedOptions Binding</h5>
        <p>
            Choose some countries you'd like to visit:
            <select data-bind="options: availableCountries, selectedOptions: chosenCountries" size="5" multiple="true"></select>
        </p>

        <br>
        <br>
        <br>

        <h4>Unique Name Binding</h4>
        <input data-bind="value: checkingUniqueName, uniqueName: true" />
    </div>



    <script type="text/javascript">
        var viewModel3 = {
            availableCountries: ko.observableArray(['France', 'Germany', 'Spain']),
            chosenCountries: ko.observableArray(['Germany']),// Initially, only Germany is selected
            checkingUniqueName: 'Shikha'
        };

        // ... then later ...
        // viewModel3.chosenCountries.push('France'); 
        // Now France is selected too
        ko.applyBindings(viewModel3, document.getElementById('jsSelectedObjectsArray'));
    </script>
</body>

</html>